<!-- HTML file: Text shadow -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text shadow</title>
    <link rel="stylesheet" href="018.css">
</head>
<body>
    <div>
        <h3>Java Programming</h3>

        <p>
            Java is a high-level programming language
            invented in 1991 by James Gosling at Sun Microsystems.
        </p>
    </div>
</body>
</html>

/* CSS file: Text shadow */

body {
    background-color: whitesmoke;
}

div {
    width: 450px;
    background-color: lightyellow;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: blue;
    text-shadow: 2px 2px gray;
}

p {
    color: black;
}